.grid {
  position: relative;


  &__block {
    position: absolute;
    background-color: #000;

     &--snake {
      background-color: #fff;
   }
    &--food {
      background-color: red;
    }
  }

}